@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Azure Deploy using local GIT repository </h1>
    <p>Azure simple  Deploy App</p>
</div>
